<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Decrypt Response</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
  </head>
  <body>
    <h3 class="text-center text-white mb-5 pt-5">Decrypt Response</h3>
    <div class="d-flex justidy-content-center align-items-center">
        <div class="login-form container mb-5">
            <div class="mt-4">
                <div class="row mb-1">
                    <div class="col-md-6">
                        <label for="key">Key:</label><br>
                        <input type="text" [(ngModel)]="key" autocomplete="off" name="key" id="key" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="iv">Iv:</label><br>
                        <input type="text" [(ngModel)]="iv" autocomplete="off" name="iv" id="iv" class="form-control">
                    </div>
                </div>
                <label for="encrypted">Encrypted:</label><br>
                <input type="text" [(ngModel)]="encrypted" autocomplete="off" name="encrypted" id="encrypted" class="form-control mb-3">
                <label for="decrypted" class="mr-1">Decrypted:</label><button class="btn btn-outline-primary btn-sm" (click)="copyDecrypted()" [disabled]="!decrypted">copy</button><br>
                <textarea type="text" [(ngModel)]="decrypted" disabled name="decrypted" id="decrypted" class="form-control bg-white"></textarea>
                <div class="mt-4 mb-5 text-center">
                    <button type="button" [disabled]="!encrypted || !key || !iv" (click)="decrypt()" name="decrypt" class="btn btn-primary btn-md mr-2" >Decrypt</button>
                    <input type="button" name="clear" (click)="clean()" class="btn btn-danger btn-md" value="Clean">
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
